In [2]:
import numpy as np
import pandas as pd

In [49]:
structured_cik = [1146184, 1215680, 1224385, 1261467, 1591458, 1616344,  230611, 26617, 29648,  318336, 
                  356628, 42352, 58056, 68136, 72267,  782124,  803012,  851376,  853784,  867626,   87634,
                  877559,  890203,  895502, 91154,  920417,  922792]

## [National Information Center (NIC)](https://www.ffiec.gov/npw/FinancialReport/DataDownload)
**Tables of structure information for select banks and institutions for which the Federal Reserve has a supervisory, regulatory, or research interest:**
* Available for active institutions, the last instance of closed institutions, and branch offices
* Relationships data describes ownership between companies (i.e. parent and offspring relationship)
* Transformations data details mergers and acquisitions, includes those provided through government assistance

In [64]:
# read in both active and closed NIC data
rssd_closed = pd.read_csv('NIC/FFIEC_ATTRIBUTES_CLOSED.csv', low_memory=False)
rssd_active = pd.read_csv('NIC/FFIEC_ATTRIBUTES_ACTIVE.csv', low_memory=False)

# add column for the active status of a particular holding
rssd_active['STATUS'] = ['ACTIVE'] * rssd_active.shape[0]
rssd_closed['STATUS'] = ['CLOSED'] * rssd_closed.shape[0]

# combine both active and closed listing, extracting a subset of columns
all_rssd_id = pd.concat([rssd_active, rssd_closed])
all_rssd_id = all_rssd_id[['#ID_RSSD', 'NM_LGL', 'PRIM_FED_REG', 'CHTR_TYPE_CD', 
                           'ORG_TYPE_CD', 'ENTITY_TYPE', 'CITY', 'STATE_ABBR_NM', 
                           'CNTRY_NM', 'ID_TAX', 'ID_LEI']]

# re-map some terms to Federal Reserve Board identifiers
organization_map = {
    0 :'Not applicable (branches)',
    1: 'Corporation (stock)',
    2: 'General Partnership',
    3: 'Limited Partnership',
    4: 'Business Trust (fiduciary)',
    5: 'Sole Proprietorship',
    6: 'Mutual',
    9: 'Cooperative',
    10: 'LLP (Limited liability partnership)',
    11: 'LLC/C (Limited liability company/corporation)',
    12: 'Estate Trust',
    13: 'Limited Liability Limited Partnership',
    99: 'Other'}

charter_map = {
    0: 'Not available or not applicable (for branches)',
    110: 'Government Agency', 
    200: 'Commercial Bank',
    250: 'Non-deposit Trust Company',
    300: 'Savings Bank',
    310: 'Savings & Loan Association',
    320: 'Cooperative Bank',
    330: 'Credit Union (excluding Corporate Credit Union)',
    340: 'Industrial Bank',
    400: 'Edge or Agreement Corporation',
    500: 'Holding Company only',
    550: 'Insurance Broker or Agent',
    610: 'Employee Stock Ownership Plan/Trust (ESOP or ESOT)',
    700: 'Securities Broker and/or Dealer',
    710: 'Utility Company',
    720: 'Other Non-Depository Institution'}

entity_map = {
    'AGB': 'Agreement Corporation - Banking',
    'AGI': 'Agreement Corporation - Investment',
    'BHC': 'Bank Holding Company',
    'CPB': 'Cooperative Bank',
    'DBR': 'Domestic Branch of a Domestic Bank',
    'DEO': 'Domestic Entity Other',
    'DPS': 'Data Processing Servicer',
    'EBR': 'Edge Corporation - Domestic Branch',
    'EDB': 'Edge Corporation - Banking',
    'EDI': 'Edge Corporation - Investment',
    'FBH': 'Foreign Banking Organization as a BHC',
    'FBK': 'Foreign Bank',
    'FBO': 'Foreign Banking Organization',
    'FCU': 'Federal Credit Union',
    'FEO': 'Foreign Entity Other',
    'FHD': 'Financial Holding Company / BHC (Note: Can be a domestic or foreign-domiciled holding company)',
    'FHF': 'Financial Holding Company / FBO',
    'FNC': 'Finance Company',
    'FSB': 'Federal Savings Bank',
    'IBK': 'International Bank of a U.S. Depository - Edge or Trust Co.',
    'IBR': 'Foreign Branch of a U.S. Bank',
    'IHC': 'Intermediate Holding Company',
    'IFB': 'Insured Federal Branch of an FBO',
    'INB': 'International Non-bank Subs of Domestic Entities',
    'ISB': 'Insured State Branch of an FBO',
    'MTC': 'Non-deposit Trust Company - Member',
    'NAT': 'National Bank',
    'NMB': 'Non-member Bank',
    'NTC': 'Non-deposit Trust Company - Non-member',
    'NYI': 'New York Investment Company',
    'PST': 'Non-U.S. Branch managed by a U.S. Branch/Agency of a Foreign Bank for 002â€™s reporting - Pseudo Twig',
    'REP': 'Representative Office',
    'SAL': 'Savings & Loan Association',
    'SBD': 'Securities Broker / Dealer',
    'SCU': 'State Credit Union',
    'SLHC': 'Savings and Loan Holding Company',
    'SMB': 'State Member Bank',
    'SSB': 'State Savings Bank',
    'TWG': 'Non-U.S. Branch managed by a U.S. Branch/Agency of a Foreign Bank - TWIG',
    'UFA': 'Uninsured Federal Agency of an FBO',
    'UFB': 'Uninsured Federal Branch of an FBO',
    'USA': 'Uninsured State Agency of an FBO',
    'USB': 'Uninsured State Branch of an FBO'}

# remap according to dictionaries
all_rssd_id['CHTR_TYPE_CD'] = all_rssd_id['CHTR_TYPE_CD'].replace(charter_map)
all_rssd_id['ORG_TYPE_CD'] = all_rssd_id['ORG_TYPE_CD'].replace(organization_map)
all_rssd_id['ENTITY_TYPE'] = all_rssd_id['ENTITY_TYPE'].replace(entity_map)

all_rssd_id.to_csv('NIC/ALL-RSSD-ID.csv', index=False)

In [67]:
all_rssd_id

,#ID_RSSD,NM_LGL,PRIM_FED_REG,CHTR_TYPE_CD,ORG_TYPE_CD,ENTITY_TYPE,CITY,STATE_ABBR_NM,CNTRY_NM,ID_TAX,ID_LEI
0,37,BANK OF HANCOCK COUNTY ...,FDIC,Commercial Bank,Corporation (stock),Non-member Bank,SPARTA,GA,UNITED STATES,0,0
1,73,UTILITY EMPLOYEES FEDERAL CREDIT UNION ...,NCUA,Credit Union (excluding Corporate Credit Union),Mutual,Federal Credit Union,HOQUIAM,WA,UNITED STATES,910591861,0
2,242,FIRST COMMUNITY BANK XENIA-FLORA ...,FRS,Commercial Bank,Corporation (stock),State Member Bank,XENIA,IL,UNITED STATES,370274860,0
3,279,"MINEOLA COMMUNITY BANK, SSB ...",FDIC,Savings Bank,Mutual,State Savings Bank,MINEOLA,TX,UNITED STATES,750440734,54930067OMWEWTHVDO95
4,354,BISON STATE BANK ...,FDIC,Commercial Bank,Corporation (stock),Non-member Bank,BISON,KS,UNITED STATES,0,549300T61O0X0RJMQ375
...,...,...,...,...,...,...,...,...,...,...,...
147438,4000295,GOLDMAN SACHS REAL ESTATE MEZZANINE PARTNERS E...,NaN,Other Non-Depository Institution,Limited Partnership,International Non-bank Subs of Domestic Entities,GEORGE TOWN,0,CAYMAN ISLANDS,0,0
147439,4000307,GOLDMAN SACHS MOUNT KELLETT CAPITAL PARTNERS E...,NaN,Other Non-Depository Institution,LLC/C (Limited liability company/corporation),Domestic Entity Other,NEW YORK,NY,UNITED STATES,0,0
147440,4000400,GOLDMAN SACHS TRADING AND CLEARING SERVICES (N...,NaN,Other Non-Depository Institution,Corporation (stock),International Non-bank Subs of Domestic Entities,AMSTERDAM,0,NETHERLANDS,0,AK6GVWFZ7Z8NMOO4XC38
147441,4000446,SINGEL COOL ONE B.V. ...,NaN,Other Non-Depository Institution,Limited Partnership,International Non-bank Subs of Domestic Entities,AMSTERDAM,0,NETHERLANDS,0,0
147442,4000455,GOLDMAN SACHS CREDIT OPPORTUNITIES INSTITUTION...,NaN,Other Non-Depository Institution,Limited Partnership,International Non-bank Subs of Domestic Entities,GEORGE TOWN,0,CAYMAN ISLANDS,0,0

In [73]:
# extract the GVKEY for corresponding CIKs from the broker dealers
historical_names = pd.read_csv('wciklink_names.csv')

bd_names = historical_names[np.isin(historical_names.cik, structured_cik)][['cik', 'fndate', 
                                                                            'n10k', 'coname', 
                                                                            'gvkey']]

In [74]:
bd_names

,cik,fndate,n10k,coname,gvkey
1606,26617,2002-05-30,0.0,DAIWA SECURITIES AMERICA INC.,NaN
1607,26617,2010-05-28,0.0,DAIWA CAPITAL MARKETS AMERICA INC.,NaN
1811,29648,2003-03-03,0.0,PERSHING LLC,NaN
2720,42352,2003-01-28,0.0,"GOLDMAN, SACHS & CO.",NaN
2721,42352,2017-03-01,0.0,GOLDMAN SACHS & CO. LLC,NaN
3653,58056,2002-03-01,0.0,DEUTSCHE BANK SECURITIES INC.,NaN
4239,68136,2003-01-30,0.0,"MORGAN STANLEY & CO., INCORPORATED",NaN
4240,68136,2009-01-29,0.0,MORGAN STANLEY & CO. INCORPORATED,NaN
4241,68136,2012-02-29,0.0,MORGAN STANLEY & CO. LLC,NaN
4557,72267,2003-05-30,0.0,"NOMURA SECURITIES INTERNATIONAL, INC.",NaN
5579,87634,2002-03-15,0.0,"CHARLES SCHWAB & CO., INC.",NaN
5806,91154,2003-03-03,0.0,CITIGROUP GLOBAL MARKETS INC.,NaN
7833,230611,2002-03-01,0.0,UBS WARBURG LLC,NaN
7834,230611,2004-03-01,0.0,UBS SECURITIES LLC,NaN
9407,318336,2003-03-03,0.0,CREDIT SUISSE FIRST BOSTON CORPORATION,NaN
9408,318336,2004-02-27,0.0,CREDIT SUISSE FIRST BOSTON LLC,NaN
9409,318336,2006-03-01,0.0,CREDIT SUISSE SECURITIES (USA) LLC,NaN
10763,356628,1997-03-03,0.0,NATIONAL FINANCIAL SERVICES LLC,NaN
19060,782124,2003-01-30,0.0,"BEAR, STEARNS & CO. INC.",NaN
19061,782124,2009-03-02,0.0,J.P. MORGAN SECURITIES INC.,NaN
19062,782124,2010-03-02,0.0,J.P. MORGAN SECURITIES LLC,NaN
22042,803012,2002-12-03,0.0,TD SECURITIES (USA) INC.,NaN
22043,803012,2005-01-03,0.0,TD SECURITIES (USA) LLC,NaN
30109,851376,2002-03-01,0.0,BARCLAYS CAPITAL INC.,NaN
30501,853784,2002-03-01,0.0,HSBC SECURITIES USA INC /BD,NaN
30502,853784,2003-02-28,0.0,HSBC SECURITIES (USA) INC.,NaN
32958,867626,2002-04-29,0.0,"TOKYO-MITSUBISHI SECURITIES (USA), INC.",NaN
32959,867626,2004-04-28,0.0,"MITSUBISHI SECURITIES (USA), INC.",NaN
32960,867626,2006-04-28,0.0,"MITSUBISHI UFJ SECURITIES (USA), INC.",NaN
32961,867626,2017-02-28,0.0,MUFG SECURITIES AMERICAS INC.,NaN
34909,877559,2002-03-01,0.0,ING BARINGS CORP.,NaN
34910,877559,2003-03-03,0.0,ING FINANCIAL MARKETS LLC,NaN
38124,890203,2003-02-28,0.0,DAEWOO SECURITIES (AMERICA) INC.,NaN
38125,890203,2017-03-15,0.0,MIRAE ASSET SECURITIES (USA) INC.,NaN
39512,895502,1998-11-13,0.0,RBC DAIN RAUSCHER INC.,NaN
39513,895502,2008-02-15,0.0,RBC CAPITAL MARKETS CORPORATION,NaN
39514,895502,2011-07-05,0.0,"RBC CAPITAL MARKETS, LLC",NaN
47177,920417,2015-03-02,0.0,SUSQUEHANNA SECURITIES,NaN
47178,920417,2020-02-28,0.0,"SUSQUEHANNA SECURITIES, LLC",NaN
47864,922792,2002-03-04,0.0,INTERACTIVE BROKERS LLC,NaN
140161,1146184,2004-03-01,0.0,CITADEL DERIVATIVES GROUP LLC,NaN
140162,1146184,2010-02-25,0.0,CITADEL SECURITIES LLC,NaN
193741,1215680,2004-03-01,0.0,SOUTH STREET SECURITIES LLC,NaN
201892,1224385,2004-03-01,0.0,"WACHOVIA CAPITAL MARKETS, LLC",NaN
201893,1224385,2010-03-12,0.0,"WELLS FARGO SECURITIES, LLC",NaN
235386,1261467,2005-03-08,0.0,"SG AMERICAS SECURITIES, LLC",NaN
556032,1591458,2015-02-20,0.0,CURVATURE SECURITIES LLC,NaN
579108,1616344,2016-02-24,0.0,CITADEL CLEARING LLC,NaN

In [11]:
# read in data from NIC pertaining to FFIEC mergers & aquistions
mergers_acquisitions = pd.read_csv('FFIEC_TRANSFORMATIONS.csv')

# rename transformation type to readable finacial interpretations (refer to FOMC Data Dictionary)
transformation_type = {1:'Charter Discontinued (Merger or Purchase & Assumption)', 5: 'Split', 7: 'Sale of Assets', 
                       9: 'Charter Retained (Merger or Purchase & Assumption)', 
                       50: 'Failure, Government Assistance Provided'}
mergers_acquisitions['TRNSFM_CD'] = mergers_acquisitions['TRNSFM_CD'].replace(transformation_type)

In [20]:
# count the number of mergers & aquistions for each RSSD succesor 
ma_count = mergers_acquisitions.groupby(['ID_RSSD_SUCCESSOR', 'TRNSFM_CD'])[['DT_TRANS']].count()
ma_count = ma_count.sort_values(by='DT_TRANS', ascending=False)

In [15]:
mergers_acquisitions

,#ID_RSSD_PREDECESSOR,ID_RSSD_SUCCESSOR,D_DT_TRANS,TRNSFM_CD,ACCT_METHOD,DT_TRANS
0,28,75026,01/01/1994 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,19940101
1,46,1003848,10/01/1993 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,19931001
2,55,951951,01/11/1982 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,19820111
3,64,1213683,07/30/1988 00:00:00,"Failure, Government Assistance Provided",0,19880730
4,82,41393,01/01/2000 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20000101
...,...,...,...,...,...,...
56389,5522954,5523102,12/31/2020 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20201231
56390,5538160,5563229,12/31/2020 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20201231
56391,5555756,5523102,06/10/2020 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20200610
56392,5555765,5523102,07/31/2020 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20200731
56393,5560563,5563340,01/01/2021 00:00:00,Charter Discontinued (Merger or Purchase & Ass...,0,20210101

In [31]:
# read in data from NIC pertaining to FFIEC mergers & aquistions
relationships = pd.read_csv('FFIEC_RELATIONSHIPS.csv')
rel_count = relationships.groupby('#ID_RSSD_PARENT')[['D_DT_START']].count().sort_values(by='D_DT_START', ascending=False)

In [32]:
relationships

,#ID_RSSD_PARENT,ID_RSSD_OFFSPRING,D_DT_START,RELN_LVL,CTRL_IND,D_DT_RELN_EST,EQUITY_IND,OTHER_BASIS_IND,PCT_EQUITY,PCT_OTHER,...,REG_IND,PCT_EQUITY_BRACKET,PCT_EQUITY_FORMAT,D_DT_END,MB_COST,FC_IND,REGK_INV,DT_END,DT_RELN_EST,DT_START
0,130,1081305,06/27/1984 00:00:00,1,1,06/27/1984 00:00:00,2,0,80.0,0.0,...,1,80-100,BRACKET,02/14/1986 00:00:00,0,0,0,19860214,19840627,19840627
1,279,3923155,01/23/2008 00:00:00,1,1,01/23/2008 00:00:00,2,0,100.0,0.0,...,1,100,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,20080123,20080123
2,505,2913168,05/27/1999 00:00:00,1,1,05/27/1999 00:00:00,2,0,80.0,0.0,...,1,80-100,BRACKET,06/29/2007 00:00:00,0,0,0,20070629,19990527,19990527
3,505,2913168,06/30/2007 00:00:00,1,1,05/27/1999 00:00:00,2,0,100.0,0.0,...,1,100,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,19990527,20070630
4,505,3079566,06/01/2000 00:00:00,1,1,06/01/2000 00:00:00,2,0,80.0,0.0,...,1,80-100,BRACKET,02/12/2003 00:00:00,0,0,0,20030212,20000601,20000601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266827,5613599,5613629,04/28/2021 00:00:00,1,1,04/28/2021 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20210428,20210428
266828,5613610,5613629,04/28/2021 00:00:00,1,1,04/28/2021 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20210428,20210428
266829,5613629,5613487,04/28/2021 00:00:00,1,1,04/28/2021 00:00:00,0,1,0.0,0.0,...,1,0,N/A,12/31/9999 00:00:00,0,0,0,99991231,20210428,20210428
266830,5613638,5613647,04/30/2021 00:00:00,1,1,04/30/2021 00:00:00,2,0,100.0,0.0,...,1,100,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,20210430,20210430
266831,5613647,5613740,04/30/2021 00:00:00,1,1,04/30/2021 00:00:00,2,0,100.0,0.0,...,1,100,BRACKET,12/31/9999 00:00:00,0,0,0,99991231,20210430,20210430